<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Datos Estadisticos</title>
  </head>
  <body class="bg-slate-200 w-full h-screen">
    <iframe
      class="w-full h-screen"
      src="https://datastudio.google.com/embed/reporting/161d0060-5035-4b4c-bf89-6e36e06a4506/page/6jy2C"
      frameborder="0"
      style="border: 0"
      allowfullscreen
    ></iframe>
  </body>
</html>
